.product-div {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 350px;
    margin-top: 35px;
    margin-left: 15px;
    border: 1px solid black;
}
   

.errors{    
    margin-left: 15px;
    font-size: 24px;
    color: red;
    font-weight: 600;
}

h1 {
    font-weight: 600;
    font-size: 36px;
    margin-left: 15px;
    margin-top: 50px;
}


form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.button-div {
    height: 40px;
    width: 80px;
    border-radius: 4px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 27px;
}

.search-div {
    display: flex;
    flex-direction: column;
    margin-left: 15px
}

.search-div label {
    margin-bottom: 5px;
    font-size: 24px;
}

.product-div h3 {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.product-div li {
    list-style: none;
    margin-left: 20px;
    margin-top: 4px;
}

.left-side ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-input {
    height: 30px;
    width: 250px;
}

.left-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.product-div img {
    height: 100%;
    width: 50%;
}