{% extends 'base.html' %}

{% block head%}
    <title>Ingredient Search</title>
{% endblock %}

{% block body %}
<h1>Ingredient Search</h1>
<form action="" method="POST">
    <div class='search-div'>
        <label for="ingredient">Enter an Ingredient</label>
        <input class='search-input' name = "ingredient" type="text" id='search-input' placeholder="search ingredient name" value="">
    </div>
    
    <input class='button-div' type="submit" value="submit">
</form>
{% for error in resources["errors"] %}
    <h2 class='errors'>{{error}} is not allowed</h2>
{% endfor %}




{% if resources["products"]|length == 0  %}
    <h1>There are no recipes with {{resources["search"]}}. Please try again</h1>
{% else %}
    {% for product in resources["products"]%}
        <div class="product-div">
            <div class="left-side">
                <h3>{{product['name']}}</h3>
                <ul>
                    {% for ingredientId in product["ingredientIds"] %}
                        <li>{{resources["ingredients"][ingredientId-1]["name"]}}</li>
                    {% endfor %}
                </ul>
                
            </div>
            <img src={{product.image.url}} alt="image of product">
        </div>
    {% endfor %}
{% endif %}



{% endblock %}